.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.images img{
    width: 20%;
    border-radius: 20px;
    outline: none;
    border: none;
}

.btn1{
     background:#212EA0;
    color: #fff;
    padding: 10px;
   width: 5cm;
   margin-top: 50px;
   display: flex;
   gap: 10px;
   font-size: 20px
}

.btn1 img{
    width: 35px;
    
}




.gallary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1in;
}